body {
    background: rgba(75, 211, 116, 0.644);
}


* {
    text-align:center
}

h1{
color: rgb(75, 172, 123);

}
tr{
color: rgb(211, 77, 77);
font: 600;
font-family: 'Times New Roman', Times, serif

}
select{
background-color: blueviolet;
color: grey;
font: 400;
}
button{
    color: rgb(235, 116, 195);
    background-color: black;
    font-size: small
    }
    .box{
        margin:60px;

        background: rgb(177, 178, 196);

        width: 600px;

        margin-left: 200px;
        margin-top: 60px;

        border-style: solid;
        padding: 50px;
        padding-left: 60px;
        padding-right:0ch
    }